
/*import font */
@font-face {
  font-family: 'BLADRMF';
  src: URL('font/blade_runner_movie_font/BLADRMF_.TTF') format('truetype');
}

/*common styling  */
body {
  background-color:#333333;

}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}
p{
  top: 150px;
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
}
/* header styling */
.container {
  /* top: 200px; media query grote schermen */
  top: 80px;
  position: absolute;
  left: 50%;
  transform:translate(-50%,0);
  width: fit-content;
}

.bg-img{
  max-width: 100%;
  height: auto;
  filter: blur(3px);
 -webkit-filter: blur(3px);
}

.h1-text {
  text-align: center;
  /* font-size: 300%; media query grote schermen */
  /* font-size: 160%; media query tablet schermen*/
  font-size: 165%;
  text-decoration: underline;
  font-family: 'BLADRMF';
  font-weight: 400;
  margin: 0;
  line-height: 0;
  animation: glitch1 7.5s infinite;
}


/*second color glitch */
.h1-text:nth-child(2) {
  color: #67f3da;
  animation: glitch2 7.5s infinite;
}

/*third color glitch  */
.h1-text:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 7.5s infinite;
}

/*Keyframes header Animation*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
